#Simran Anand

##Importing necessary libraries to build model

In [1]:
import pandas as pd
import numpy as np
from numpy import percentile
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
import tweepy
from textblob import TextBlob
import re # for regular expressions
import pandas as pd 
pd.set_option("display.max_colwidth", 200) 
import string
import requests
import folium
from folium import plugins
from folium.plugins import HeatMap
import nltk # for text manipulation
from nltk.stem.porter import *
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords
from nltk import pos_tag, ne_chunk
from nltk.sentiment.vader import SentimentIntensityAnalyzer as sid
from wordcloud import WordCloud
from tqdm import tqdm, notebook
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from tqdm import tqdm
from gensim.models.doc2vec import LabeledSentence
import gensim
from sklearn.linear_model import LogisticRegression
from scipy import stats 
from sklearn import metrics 
from sklearn.metrics import mean_squared_error,mean_absolute_error, make_scorer,classification_report,confusion_matrix,accuracy_score,roc_auc_score,roc_curve
from sklearn.model_selection import train_test_split,cross_val_score,KFold
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

##Extracting dataset and Reviewing Our Dataset

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/gabrielpreda/covid-19-tweets/master/covid19_tweets.csv")
df.head()

         user_name         user_location  ...               source is_retweet
0           ·èâ·é•‚òª’¨ÍÇÖœÆ            astroworld  ...   Twitter for iPhone      False
1    Tom Basile üá∫üá∏          New York, NY  ...  Twitter for Android      False
2  Time4fisticuffs      Pewee Valley, KY  ...  Twitter for Android      False
3      ethel mertz  Stuck in the Middle   ...   Twitter for iPhone      False
4         DIPR-J&K     Jammu and Kashmir  ...  Twitter for Android      False

[5 rows x 13 columns]

#Data Preprocessing

**A) Removing @user**

In [3]:
# write function for removing @user
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i,'',input_txt)
    return input_txt
# create new column with removed @user
df['clean_text'] = np.vectorize(remove_pattern)(df['text'], '@[\w]*')
df.head(2)

       user_name  ...                                                                                                                                    clean_text
0         ·èâ·é•‚òª’¨ÍÇÖœÆ  ...  If I smelled the scent of hand sanitizers today on someone in the past, I would think they were so intoxicated that‚Ä¶ https://t.co/QZvYbrOgb0
1  Tom Basile üá∫üá∏  ...                      Hey  PR and  - wouldn't it have made more sense to have the players pay their respects to the A‚Ä¶ https://t.co/1QvW0zgyPu

[2 rows x 14 columns]

##REMOVED HTTP AND URLS FROM TWEET

In [4]:
import re
df['clean_text'] = df['clean_text'].apply(lambda x: re.split('https:\/\/.*', str(x))[0])
df.head(3)

         user_name  ...                                                                                                             clean_text
0           ·èâ·é•‚òª’¨ÍÇÖœÆ  ...  If I smelled the scent of hand sanitizers today on someone in the past, I would think they were so intoxicated that‚Ä¶
1    Tom Basile üá∫üá∏  ...                      Hey  PR and  - wouldn't it have made more sense to have the players pay their respects to the A‚Ä¶
2  Time4fisticuffs  ...                                       Trump never once claimed #COVID19 was a hoax. We all claim that this effort to‚Ä¶

[3 rows x 14 columns]

##**B) Removing Punctuations, Numbers, and Special Characters**

In [5]:
# remove special characters, numbers, punctuations
df['clean_text'] = df['clean_text'].str.replace('[^a-zA-Z#]+',' ')

In [6]:
df.head(5)

         user_name  ...                                                                                                           clean_text
0           ·èâ·é•‚òª’¨ÍÇÖœÆ  ...  If I smelled the scent of hand sanitizers today on someone in the past I would think they were so intoxicated that
1    Tom Basile üá∫üá∏  ...                         Hey PR and wouldn t it have made more sense to have the players pay their respects to the A
2  Time4fisticuffs  ...                                         Trump never once claimed #COVID was a hoax We all claim that this effort to
3      ethel mertz  ...                 The one gift #COVID has give me is an appreciation for the simple things that were always around me
4         DIPR-J&K  ...                                                             July Media Bulletin on Novel #CoronaVirusUpdates #COVID

[5 rows x 14 columns]

##**C) Removing Short Words**

In [7]:
# remove short words
df['clean_text'] = df['clean_text'].apply(lambda x: ' '.join([w for w in x.split() if len(w) > 2]))
df.head(2)

       user_name  ...                                                                                       clean_text
0         ·èâ·é•‚òª’¨ÍÇÖœÆ  ...  smelled the scent hand sanitizers today someone the past would think they were intoxicated that
1  Tom Basile üá∫üá∏  ...                      Hey and wouldn have made more sense have the players pay their respects the

[2 rows x 14 columns]

##**D) Tokenization**

In [8]:
# create new variable tokenized tweet 
tokenized_tweet = df['clean_text'].apply(lambda x: x.split())
df.head(2)

       user_name  ...                                                                                       clean_text
0         ·èâ·é•‚òª’¨ÍÇÖœÆ  ...  smelled the scent hand sanitizers today someone the past would think they were intoxicated that
1  Tom Basile üá∫üá∏  ...                      Hey and wouldn have made more sense have the players pay their respects the

[2 rows x 14 columns]

##**E) Stemming**

In [9]:
from nltk.stem.porter import *
stemmer = PorterStemmer()
# apply stemmer for tokenized_tweet
tokenized_tweet = tokenized_tweet.apply(lambda x: [stemmer.stem(i) for i in x])
df.head(2)

       user_name  ...                                                                                       clean_text
0         ·èâ·é•‚òª’¨ÍÇÖœÆ  ...  smelled the scent hand sanitizers today someone the past would think they were intoxicated that
1  Tom Basile üá∫üá∏  ...                      Hey and wouldn have made more sense have the players pay their respects the

[2 rows x 14 columns]

In [10]:
# join tokens into one sentence
for i in range(len(tokenized_tweet)):
    tokenized_tweet[i] = ' '.join(tokenized_tweet[i])
# change df['clean_text'] to tokenized_tweet

In [11]:
df['clean_text']  = tokenized_tweet
df.head(2)

       user_name  ...                                                                         clean_text
0         ·èâ·é•‚òª’¨ÍÇÖœÆ  ...  smell the scent hand sanit today someon the past would think they were intox that
1  Tom Basile üá∫üá∏  ...           hey and wouldn have made more sens have the player pay their respect the

[2 rows x 14 columns]

#**Extracting Features from Cleaned Tweets**
###Removing Stopwords

In [12]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [13]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [14]:
df['clean_text'].apply(lambda x: [item for item in x if item not in stop])

0                           [e, l, l,  , h, e,  , c, e, n,  , h, n,  , n,  ,  , e, n,  , h, e,  , p,  , w, u, l,  , h, n, k,  , h, e,  , w, e, r, e,  , n, x,  , h]
1                  [h, e,  , n,  , w, u, l, n,  , h, v, e,  , e,  , r, e,  , e, n,  , h, v, e,  , h, e,  , p, l, e, r,  , p,  , h, e, r,  , r, e, p, e, c,  , h, e]
2                                             [r, u, p,  , n, e, v, e, r,  , n, c,  , c, l,  , #, c, v,  , w,  , h, x,  , l, l,  , c, l,  , h,  , h,  , e, f, f, r]
3         [h, e,  , n, e,  , g, f,  , #, c, v,  , h,  , g, v, e,  , p, p, r, e, c,  , f, r,  , h, e,  , p, l,  , h, n, g,  , h,  , w, e, r, e,  , l, w,  , r, u, n]
4                                                                     [j, u, l,  , e,  , b, u, l, l, e, n,  , n, v, e, l,  , #, c, r, n, v, r, u, u, p,  , #, c, v]
                                                                                    ...
179103                                                             [h, n, k,  , f, r,  , n, n,  , f, r,  , h, e,  , #, w, e, r, k,  , c, h, l, l, e, n, g,  , n, n]
179104                                                                                                                [h, e,  , e, r,  , n, n,  , l, l,  , #, c, v]
179105             [p, w, e, r,  , p, n,  , j, u, n,  , l, u, c, e, n,  , r, b, u,  , h, e,  , g, r, n, p, r,  , w, h,  , e,  , c, v,  , n,  , h, e,  , g, r, n, c]
179106                                                 [r, e,  , h, n,  , u, e, n,  , e,  , p,  , f, r,  , #, c, v,  , j, r,  , u, n, v, e, r,  , b, c,  , n, e, w]
179107                                                                                                                            [p,  , w, h, e, n,  , e, e,  , p]
Name: clean_text, Length: 179108, dtype: object

##Check and calculate sentiment of tweets

In [15]:
#creates a function that determines subjectivity and polarity from the textblob package
def getTextSubjectivity(clean_text):
    return TextBlob(clean_text).sentiment.subjectivity
def getTextPolarity(clean_text):
    return TextBlob(clean_text).sentiment.polarity
#applies these functions to the dataframe
df['Subjectivity'] = df['clean_text'].apply(getTextSubjectivity)
df['Polarity'] = df['clean_text'].apply(getTextPolarity)
#builds a function to calculate and categorize each tweet as Negative, Neutral, and Positive
def getTextAnalysis(a):
    if a < 0:
        return "Negative"
    elif a == 0:
        return "Neutral"
    else:
        return "Positive"
#creates another column called Score and applies the function to the dataframe
df['Score'] = df['Polarity'].apply(getTextAnalysis)

In [16]:
new_df=df[['clean_text','Score']]

In [17]:
new_df.shape

(179108, 2)

In [18]:
new_df.head(1)

                                                                          clean_text     Score
0  smell the scent hand sanit today someon the past would think they were intox that  Negative

In [19]:
svm_data=new_df.head(20000)

# SVM (Support Vector Machine)

In [20]:
from sklearn.model_selection import train_test_split

train,valid = train_test_split(svm_data,test_size = 0.3,random_state=0,stratify = svm_data.Score.values) #stratification means that the train_test_split method returns training and test subsets that have the same proportions of class labels as the input dataset.
print("train shape : ", train.shape)
print("valid shape : ", valid.shape)

train shape :  (14000, 2)
valid shape :  (6000, 2)

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords
stop = list(stopwords.words('english'))
vectorizer = CountVectorizer(decode_error = 'replace',stop_words = stop)

X_train = vectorizer.fit_transform(train.clean_text.values)
X_valid = vectorizer.transform(valid.clean_text.values)

y_train = train.Score.values
y_valid = valid.Score.values

print("X_train.shape : ", X_train.shape)
print("X_valid.shape : ", X_valid.shape)
print("y_train.shape : ", y_train.shape)
print("y_valid.shape : ", y_valid.shape)

X_train.shape :  (14000, 15056)
X_valid.shape :  (6000, 15056)
y_train.shape :  (14000,)
y_valid.shape :  (6000,)

In [22]:
from sklearn.svm import SVC

svc = SVC()

svc.fit(X_train, y_train)

svc_prediction = svc.predict(X_valid)
svc_accuracy = accuracy_score(y_valid,svc_prediction)
print("Training accuracy Score    : ",svc.score(X_train,y_train))
print("Validation accuracy Score : ",svc_accuracy )
print(classification_report(svc_prediction,y_valid))

Training accuracy Score    :  0.958
Validation accuracy Score :  0.8391666666666666
              precision    recall  f1-score   support

    Negative       0.48      0.89      0.62       470
     Neutral       1.00      0.79      0.88      3857
    Positive       0.76      0.94      0.84      1673

    accuracy                           0.84      6000
   macro avg       0.74      0.87      0.78      6000
weighted avg       0.89      0.84      0.85      6000

## BPNN (Back Propagation Neural Network)

In [49]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split

bpnn_data=new_df.head(50000)
data=bpnn_data

x_data = data.drop("Score",axis=1)
y_data = data[['Score']]

x_data[['clean_text']] = OrdinalEncoder().fit_transform(x_data[['clean_text']])
y_data = OneHotEncoder(sparse=False).fit_transform(y_data)

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.3)

scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

model = Sequential()

col=x_train.shape[1]

model.add(Dense(1000, activation='relu', input_shape =(col,)))
model.add(Dense(1000, activation='relu'))
model.add(Dense(3, activation='softmax'))

model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

model.fit(x_train, y_train, validation_split=0.2, epochs = 11)

model.evaluate(x_test, y_test, verbose=2)

Epoch 1/11
875/875 [==============================] - 12s 14ms/step - loss: 0.9990 - accuracy: 0.5090 - val_loss: 0.9908 - val_accuracy: 0.5086
Epoch 2/11
875/875 [==============================] - 12s 13ms/step - loss: 0.9909 - accuracy: 0.5129 - val_loss: 0.9889 - val_accuracy: 0.5086
Epoch 3/11
875/875 [==============================] - 12s 13ms/step - loss: 0.9876 - accuracy: 0.5129 - val_loss: 0.9892 - val_accuracy: 0.5086
Epoch 4/11
875/875 [==============================] - 12s 13ms/step - loss: 0.9885 - accuracy: 0.5146 - val_loss: 0.9894 - val_accuracy: 0.5086
Epoch 5/11
875/875 [==============================] - 11s 13ms/step - loss: 0.9896 - accuracy: 0.5129 - val_loss: 0.9911 - val_accuracy: 0.5086
Epoch 6/11
875/875 [==============================] - 11s 13ms/step - loss: 0.9842 - accuracy: 0.5164 - val_loss: 0.9907 - val_accuracy: 0.5086
Epoch 7/11
875/875 [==============================] - 11s 13ms/step - loss: 0.9873 - accuracy: 0.5147 - val_loss: 0.9885 - val_accuracy: 0.5086
Epoch 8/11
875/875 [==============================] - 12s 13ms/step - loss: 0.9828 - accuracy: 0.5129 - val_loss: 0.9884 - val_accuracy: 0.5086
Epoch 9/11
875/875 [==============================] - 12s 13ms/step - loss: 0.9821 - accuracy: 0.5171 - val_loss: 0.9893 - val_accuracy: 0.5086
Epoch 10/11
875/875 [==============================] - 12s 13ms/step - loss: 0.9824 - accuracy: 0.5197 - val_loss: 0.9880 - val_accuracy: 0.5086
Epoch 11/11
875/875 [==============================] - 12s 13ms/step - loss: 0.9827 - accuracy: 0.5150 - val_loss: 0.9879 - val_accuracy: 0.5079
469/469 - 1s - loss: 0.9876 - accuracy: 0.5067

[0.9875988960266113, 0.5066666603088379]

#*Thank you! :)*